@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", "Sans-serif";
}
/* .App{
  padding: 2rem 5rem;
} */

